@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: auto;
    width: 100vw;
    background-color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: #aaa7a7;
    font-family: Arial, sans-serif;
}